/* --------- Global style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 200px;
    padding-right: 5px;
}

/* --------- Game layout */

.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85vw;
    height: 65vh;
    max-height: 750px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.results-area {
    display: flex;
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 20px 0;
    justify-content: center;
}

#result {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 20px 0;
    justify-content: center;
}

.question-area span {
    padding: 0 15px;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

.controls-area {
    width: 85%;
    margin: 30px auto;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}

#answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}

/* --------- Buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 200px;
    height: 200px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
    background-size: contain;
}

.btn--big::after {
    content: attr(data-type);
    font-size: 1rem;
    color: grey;
    position: relative;
    left: -0.5em;
    top: 70%;

}

.btn--img {
    border-radius: 50%;
    background-color: white;
}

.btn--rock {
    border-color: blue;
    color: blue;
    background-image: url(/assets/images/rockbtn.png);

}

.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}

.btn--paper {
    border-color: orange;
    color: orange;
    background-image: url(/assets/images/paperbtn.png);
}

.btn--orange:active,
.btn--orange:hover {
    background-color: darkorange;
    color: white;
}

.btn--scissors {
    border-color: red;
    color: red;
    background-image: url(/assets/images/scissorsbtn.png);
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

.btn--lizard {
    border-color: green;
    color: green;
    background-image: url(/assets/images/lizardbtn.png);
}

.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

.btn--spock {
    border-color: purple;
    color: purple;
    background-image: url(/assets/images/spockbtn.png);
}

.btn--green:active,
.btn--green:hover {
    background-color: darkslateblue;
    color: white;
}

.btn--replay {
    margin-top: 25px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 20px;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #0d1013;
}

/* --------- Media queries */

@media (max-width: 400px) {
    .controls-area {
        width: 100%;
    }

    .logo {
       width: 0px;
       height: 0px;
    }

    .btn--big {
        margin: 10px 10px;
        padding: 10px;
        border: 5px solid;
        width: 100px;
        height: 100px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .score-area {
        padding: 10% 0;
        width: 100%;
    }

    .score-area {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }
    .btn--gray {
        margin-top: 0;
    }

    .score-area {
        width: 100%;
    }

    .results-area {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }
    .question-area {
        padding: 10px 0;
    }

}